<div class="container">
  <div class="image">
    <img src="./assets/macbook_PNG13.png">
  </div>
  <div class="text">
    <hr class="hr1"><br>
    <h1 style="text-align: center; color: #ba66d3; font-size: 3em;"> Contact Our </h1>
    <h1 style="text-align: center; font-size:3em"> Customer Support Center </h1>
    <br>
    <hr class="hr1">
  </div>
  </div>
  <div>
    <h2 style="text-align:center"> Contact Information</h2>
    <h6 style="text-align:center"> Please fill out contact information below: </h6>
  <div class = " formcss">

    <form [formGroup]="contactform" class="example-form">
      <h6> Name:* </h6> 
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <mat-hint align="start"><strong>First Name</strong> </mat-hint>
          <input [class.is-invalid] = "contactform.get('username')?.invalid" matInput formControlName="usernameFormControl">
        </mat-form-field></td>

        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label></mat-label>
          <mat-hint align="start"><strong>Last Name</strong> </mat-hint>
          <input matInput [class.is-invalid] = "contactform.get('username')?.invalid" matInput formControlName="usernameFormControl">
        </mat-form-field></td>
      </tr></table><br>

      <h6> Email:* </h6> 
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
     
      
      <h6> Phone:* </h6> 
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneFormControl">
        </mat-form-field>
     
      
      <h6> Adress:* </h6> 
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Adress </mat-label>
          <input matInput #message maxlength="30" placeholder="Ex. I need help with..." formControlName="adressFormControl">
          <mat-hint align="start"><strong>Enter Detailed Adress </strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
        </mat-form-field>

      
      <table class="example-form" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco" formControlName="cityFormControl">
        </mat-form-field></td>

        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option value="one">Maharashtra</mat-option>
            <mat-option value="two">Gujarat</mat-option>
            <mat-option value="three">Uttar Pradesh</mat-option>
          </mat-select>
          <input matInput>
        </mat-form-field></td>

        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ZIP Code</mat-label>
          <input matInput #postalCode maxlength="6" placeholder="Ex. 94105" value="94043" formControlname="pinFormControl">
          <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
        </mat-form-field></td>
      </tr></table> 
      <div class="example-button-row" style="text-align: center;">
        <button [disabled] = "contactform.invalid" mat-raised-button color="primary">SUBMIT</button>
      </div>
    </form>
  </div>
  </div>
